---
import WalkCard from "../components/walkCard.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const walks = await getCollection("walks");
---

<Layout>
  <h1 class="text-3xl pt-5 font-semibold">My walks</h1>
  <ul class="grid grid-cols-4 gap-4 pt-8">
    {walks.map((walk) => <WalkCard walk={walk} />)}
  </ul>
</Layout>
