---
import FullMap from "../components/fullMap.astro";
import WalkCard from "../components/walkCard.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection, getEntry } from "astro:content";
const walks = await getCollection("walks");
const routes = await Promise.all(
  walks.map(async (walk) => {
    const geojsonEntry = await getEntry("walkGeoJSON", walk.data.geojson.id);

    return { ...walk.data, geojson: geojsonEntry.data };
  })
);
---

<Layout>
  <div class="h-[600px] mt-6">
    <FullMap routes={routes} />
  </div>
  <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 py-8">
    {
      walks
        .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
        .map((walk) => <WalkCard walk={walk} />)
    }
  </ul>
</Layout>
