---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import WalkCard from "../components/walkCard.astro";
import Tag from "../components/common/tag.astro";
const walks = await getCollection("walks");
const tags = await getCollection("tags");
---

<Layout>
  <div class="pt-6">
    <h1 class="text-4xl font-light mb-6">Walks</h1>
    <div class="flex gap-4 pb-4">
      {tags.map((tag) => <Tag className={tag.data.class}>{tag.data.name}</Tag>)}
    </div>
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 pb-8">
      {
        walks
          .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
          .map((walk) => <WalkCard walk={walk} />)
      }
    </ul>
  </div>
</Layout>
