---
import { Image } from "astro:assets";
import FormattedDate from "./common/FormattedDate.astro";
const { walk } = Astro.props;
---

<div>
  <a href={`/walks/${walk.data.slug}`}>
    <Image
      src={walk.data.cover}
      alt=""
      class="h-40 object-cover rounded-lg mb-2 w-full"
    />

    <flex class="flex flex-col">
      <span class="font-medium">{walk.data.title}</span>
      <span class="text-sm text-gray-600">
        <FormattedDate date={walk.data.date} />
      </span>
    </flex>
  </a>
</div>
