---
import "../styles/global.css";
import SignPost from "../assets/signpost.svg";
const { title } = Astro.props;
const { pathname } = Astro.url;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/signpost.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? "Sam's walks"}</title>
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>
  <body>
    <nav class="border-b border-gray-200">
      <div
        class="max-w-7xl mx-auto flex px-4 py-4 items-center justify-between"
      >
        <a class="flex gap-x-2 items-center font-medium" href="/">
          <SignPost class="text-stone-600 size-6" />
          Sam's Walks
        </a>
        <ul class="flex gap-x-4">
          <li>
            <a
              href="/walks"
              class="text-gray-500 hover:text-gray-900 aria-[current=page]:text-nord14"
              aria-current={pathname.startsWith("/walks") ? "page" : "false"}
              >Walks</a
            >
          </li>
          <li>
            <a
              href="/log"
              class="text-gray-500 hover:text-gray-900 aria-[current=page]:text-nord14"
              aria-current={pathname.startsWith("/log") ? "page" : "false"}
              >Log</a
            >
          </li>
          <li>
            <a
              href="/trails"
              aria-current={pathname.startsWith("/trails") ? "page" : "false"}
              class="text-gray-500 hover:text-gray-900 aria-[current=page]:text-nord14"
              >Trails</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <main class="max-w-7xl mx-auto px-4 pb-4">
      <slot />
    </main>
  </body>
  <footer class="p-4 sm:hidden">
    <span class="text-gray-600 text-xs text-wrap">
      {
        "Contains OS data © Crown copyright and database rights YYYY".replace(
          "YYYY",
          new Date().getFullYear().toString()
        )
      }
    </span>
  </footer>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
