---
import "../styles/global.css";
import FootPrints from "../assets/footprints.svg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>
  <body>
    <div
      class="h-12 flex px-8 py-2 items-center bg-stone-100 text-xl justify-between"
    >
      <div class="flex gap-x-2 items-center font-medium">
        <FootPrints class="text-stone-600" />
        Sam's Walks
      </div>
      <div>Walks</div>
    </div>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
